body {
	background-color: #FFFEF8;
	color: #4B3B54;
	font-family:"Lucida Sans Unicode", "Lucida Grande",   	    sans-serif;
	font-size: 20px;
	
	}
	
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
	
#wrapper {
	width: 950px;
	background-color:#FFFFFF;
	margin-left: none;
	margin-right:auto;
	padding-right: 10px;
	padding-bottom: 10px;	
}
#navbar {
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
	align-content:center}

h1 {background-color:FFFCED;
    font-size:40px;
	text-align: center;
	font-family: 'Handlee', cursive;}

h2, h3 {
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	padding-left:5px;
	border-bottom-right-radius: 50px;
	font-family: 'Handlee', cursive;}
	
h3 {font-family: 'Handlee', cursive;
	padding-top: 10px;
}
	
h4 {text-align:center;
font-family: 'Handlee', cursive;}
		
		
		
		
a {background-color:#4B3B54;
	color: #FFFEF8;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-decoration:none;
	border-radius: 5px;}
	
a:hover {background-color:#82738B;}
	


		
blockquote {
	text-align: center;
	background-color: #4B3B54;
}

#footer {background-color:
#4B3B54;
color: #FFFEF8;
text-align:left
list-style: left}


.smallbox{
	width: 33%;
	height: 155px;
	float: left;
	padding-top: 37px;
	padding-bottom: 37px;
}
.smallbox ul{margin:0;
padding:0}

.smallbox ul li{list-style:none


}
.boxicon{
	width: 60px;
	height: 60px;
	text-align: center;
	border: solid 2px #854685;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: auto;
	background-color: #ADADAD;
}

.my-navigation{margin: 0;
padding: 0;
text-align:center}

.my-navigation li {display: inline;
list-style: none;
margin; 0 5px;}

.my-navigation li a { padding: 10px; }

.second{width:33%;
float:left}


